*{
    margin: 0;
    padding: 0;
}
html body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    width: 80%;
    height: 55px;
    background-color: rgb(61, 23, 97);
    margin: 5px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.squares{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    color: white;
    font-size: 30px;
}
#square{
    background-color: rgb(158, 63, 247);
    border-radius: 5px;
    font-size: 110px;
    text-align: center;
    color: white;
    
}
#square:hover{
    background-color: rgb(62, 20, 102);
    cursor: pointer;
}
.lower{
    width: 80%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
button{
    height: 100%;
    width: 100px;
    background-color: rgb(158, 63, 247);
    color: white;
    font-size: 20px;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 6px;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(62, 20, 102);
    cursor: pointer;
    scale: 1.05;
    letter-spacing: 2px;
}

.winning-square {
    animation: highlight 1s infinite alternate;
    background-color: yellow;
}

@keyframes highlight {
    from {
        background-color: yellow;
    }
    to {
        background-color: orange;
    }
}

.player-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.player-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

.player-form button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(158, 63, 247);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.player-form button:hover {
    transform: scale(1.1);
    background-color: rgb(62, 20, 102);
}
